<main>
	<div class="container">
		<div class="container-row">
			<div class="auth-container">
				<section id="login-section" class="auth-block">

					<div class="wrapper">
						<form
							id="login-form"
							class="auth-form"
							action="/login"
							method="POST"
						>
							<h2>Login</h2>
							<div class="input-box">
								{{! <label for="username-login">Username:</label> }}
								<input
									class="form-input"
									type="text"
									id="username-login"
									name="username"
									placeholder="Username"
								/>
								{{! <box-icon type='solid' name='user'></box-icon> }}
								<i class="bx bxs-user"></i>

							</div>
							<div class="input-box">
								{{! <label for="password-login">Password:</label> }}
								<input
									class="form-input"
									type="password"
									id="password-login"
									name="password"
									placeholder="Password"
									required
								/>
								{{! <box-icon name='lock-alt' type='solid' ></box-icon> }}
								<i class="bx bxs-lock-alt"></i>

							</div>
							<div class="btn">
								<button class="btn" type="submit">Submit</button>
							</div>
							<div
								id="remember-forget"
								class="remember-forget"
								style="margin: 15px;"
							>
								<label>
									<input type="checkbox" />Remember me
								</label>
								<a style="color: #FDFFFC;" href="#">Forgot password?</a>
							</div>
							<div
								id="register-link"
								style="align-items: center; text-align: center;"
							>
								<p style="text-align: center;">Don't have an account?
									<a
										style="color: #FDFFFC;"
										href="#"
										onclick="showSignupForm()"
									>Register</a></p>
							</div>
							{{#if loginError}}
								<p class="error-message">{{loginError}}</p>
							{{/if}}
						</form>
					</div>
				</section>
			</div>
			<div class="auth-container">
				<div class="wrapper">
					<form
						id="signup-form"
						class="auth-form"
						action="/register"
						method="POST"
					>
						<h2>Sign Up</h2>
						<div class="input-box">
							{{! <label for="firstname-signup">First Name:</label> }}
							<input
								class="form-input"
								type="text"
								id="firstname-signup"
								name="first_name"
								placeholder="First Name:"
								required
							/>
						</div>
						<div class="input-box">
							{{! <label for="lastname-signup">Last Name:</label> }}
							<input
								class="form-input"
								type="text"
								id="lastname-signup"
								name="last_name"
								placeholder="Last Name:"
								required
							/>
						</div>
						<div class="input-box">
							{{! <label for="username-signup">Username:</label> }}
							<input
								class="form-input"
								type="text"
								id="username-signup"
								name="username"
								placeholder="Username:"
								required
							/>
						</div>
						<div class="input-box">
							{{! <label for="email-signup">Email:</label> }}
							<input
								class="form-input"
								type="email"
								id="email-signup"
								name="email"
								placeholder="Email:"
								required
							/>
						</div>
						<div class="input-box">
							{{! <label for="password-signup">Password:</label> }}
							<input
								class="form-input"
								type="password"
								id="password-signup"
								name="password"
								placeholder="Password"
								required
							/>
						</div>
						<div class="input-box">
							<button class="btn" type="submit">Submit</button>
						</div>
						<div
							id="login-link"
							style="align-items: center; text-align: center; margin-top: 15px;"
						>
							<p style="text-align: center; margin: 10px;">Already have an
								account?
								<a
									style="color: #FDFFFC;"
									href="javascript:void(0)"
									onclick="showSignupForm()"
								>Login
								</a>
							</p>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</main>