    <main>
        <div class="auth-container">
            <section id="login-section" class="auth-block">
                <h2>Login</h2>
                    <form id="login-form" class="auth-form" action="/login" method="POST">
                    <div class="form-group">
                        <label for="username-login">Username:</label>
                        <input class="form-input" type="text" id="username-login" name="username" required />
                    </div>
                    <div class="form-group">
                        <label for="password-login">Password:</label>
                        <input class="form-input" type="password" id="password-login" name="password" required />
                    </div>
                    <div class="form-group">
                        <button class="btn" type="submit">Submit</button>
                    </div>
                </form>
            </section>
                <form id="signup-form" class="auth-form" action="/register" method="POST">
                <h2>Sign Up</h2>
                <form id="signup-form" class="auth-form">
                    <div class="form-group">
                        <label for="firstname-signup">First Name:</label>
                        <input class="form-input" type="text" id="firstname-signup" name="firstName" required />
                    </div>
                    <div class="form-group">
                        <label for="lastname-signup">Last Name:</label>
                        <input class="form-input" type="text" id="lastname-signup" name="lastName" required />
                    </div>
                    <div class="form-group">
                        <label for="email-signup">Email:</label>
                        <input class="form-input" type="email" id="email-signup" name="email" required />
                    </div>
                    <div class="form-group">
                        <label for="password-signup">Password:</label>
                        <input class="form-input" type="password" id="password-signup" name="password" required />
                    </div>
                    <div class="form-group">
                        <button class="btn" type="submit">Submit</button>
                    </div>
                </form>
            </section>
        </div>
    </main>