<main>
    <body>
        <header>
            <h1>Profile</h1>
        </header>
        <div class="preferences-container">
            <div id="liked-restaurants" class="preference-box">
                <h2>Likes</h2>
            </div>
            <div id="check-it-out" class="preference-box">
                <h2>Check It Out!</h2>
            </div>
            <div id="disliked-restaurants" class="preference-box">
                <h2>Dislikes</h2>
            </div>
        </div>
    </body>
</main>