<form action="/" method="GET" class="form search"> <!--classname can change-->
    <label for="search"> Search by City or ZipCode:</label>
    <input type="text" id="search" name="search">
    <button type="submit">Search</button>
</form>

{{#if restaurants.length}}
    <ul>
        {{#each restaurants}}
            <li>{{name}} - {{address}}</li>
        {{/each}}
    </ul>
{{else}}
    <p>No restaurants found :[</p>
{{/if}}