/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NOTE: body was here not sure if this will mess up css  */

header {
    text-align: center;
    width: 100%;
    margin: 0;
    margin-bottom: 10px; 
    background-color: transparent; 
    padding: 0; /* No padding */
    border: none; /* No border */
    background-clip: content-box;
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-container {
    margin-left: auto;
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: #D3FA52; /* Bright yellow for headers */
    text-shadow: 2px 3px 1px #EC058E;
    /* margin: 0 1em; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    transition: color 250ms ease-in-out; /* Add a color transition */
}

.nav-link:hover {
    color: #D3FA52; /* Keep the same color on hover */
}

.navbar-shadow {
    box-shadow: 0 05px 05px -05px #D3FA52;
    transition: box-shadow 500ms ease-in-out;
}

a:after {
    display: flex;
    content: '';
    border-bottom: solid 3px #043CAD;  
    color: #D3FA52;
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

a:hover:after { 
    color: #D3FA52;
    transform: scaleX(1); 
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    /* padding: 20px; */
    background-color: #30332E; 
    color: #FDFFFC; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    /* min-height: 100vh;  */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
        /* Set the background image */
        background-image: url('../images/nomnav.png');
        background-size: cover;
        background-position: top center;
        background-attachment: fixed;

        background-repeat: no-repeat;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    }

h1 {
    font-size: 2.5em;
    color: #D3FA52; /* Bright yellow for headers */
    text-shadow: 2px 3px 1px #EC058E;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}    

h2 {
    color: #D3FA52; /* Bright yellow for headers */
    text-shadow: 2px 3px 1px #EC058E;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.container {
    width: 100%; 
    max-width: 960px;  /* Max width for container */
    display: flex;
    flex-direction: column;  /* Stack the forms */
    align-items: center; /* Center the forms horizontally */
    gap: 20px; /* Reduced space between forms */   
}

.container-row {
    display: flex;
    flex-direction: row;
    gap: 20px; /* Reduced space between forms */   
}




form {
    width: 100%; 
    max-width: 750px; 
    height: auto;
    background: #043CAD;
    margin: 10px;
    padding: 20px 69px;
    border-radius: 8px;
    border: 5px solid #D3FA52; 
    display: flex;
    flex-direction: column; /* Stack form elements */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.card {
    width: 100%; 
    max-width: 750px;
    height: auto; 
    background: #043CAD;
    margin: 10px;
    padding: 20px 69px;
    border-radius: 8px;
    border: 5px solid #D3FA52; 
    display: flex;
    flex-direction: column; /* Stack form elements */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* Carousel Syling */

.carousel-item {
    width: 100%; 
}

.restaurant-card {
    width: 100%; 
    max-width: 250px;
    height: auto; 
    background: #043CAD;
    margin: 5px;
    padding: 20px 69px;
    border-radius: 8px;
    border: 5px solid #D3FA52; 
    display: flex;
    flex-direction: column; /* Stack form elements */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* Style the carousel arrows */
.carousel-control-prev,
.carousel-control-next {
    width: 30px; 
    height: 30px; 
    background-color: #D3FA52; 
    opacity: 0.9; 
    border-radius: 50%;
}

    /* Style the arrow icons */
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
    background-color: #043CAD; 
    border-radius: 50%; 
}

    /* Change the color of the arrows on hover */
    .carousel-control-prev:hover,
    .carousel-control-next:hover {
    background-color: #EC058E; 
}


div {
    margin-bottom: 10px;
}

#map {
    height: 700px; 
    width: 500px;
}

/* #results {
    display: none;
}   */

label {
    display: block;
    margin-bottom: 5px;
    color: #FDFFFC;
    
}

input[type=text],
input[type=password],
input[type=email] {
    width: calc(100% - 22px); 
    padding: 10px;
    border: 3px solid #D3FA52;
    background: #30332E;
    color: #FDFFFC;
    border-radius: 4px;
    margin-bottom: 3px; /* Space between inputs */
}

button[type=submit] {
    background: #D3FA52;
    color: #010400;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block; /* Make button block to occupy full width */
    width: 100%;
    margin-top: 3px; /* Space above the button */
}

button[type=submit]:hover {
    background: #EC058E;
    color: #FDFFFC;
}

.error-message {
    color: #D3FA52;
    text-shadow: 2px 3px 2px #EC058E;
}
/* Responsive Layout */
@media (min-width: 600px) {
    form {
        margin: 15px auto; 
        width: 90%; 
        max-width: 750px; 
    }
}

@media (max-width: 768px) {
    body {
        background-image: url('path-to-desktop-image.jpg');
        background-size: cover;
        background-position:left;
        background-repeat: no-repeat;
        background-image: url('../images/nomnav.png');
    }
    .nav-link:hover {
        color: #EC058E; 
        text-shadow: 2px 3px 1px #D3FA52;
    }
    #map {
        height: 400px; 
        width: 100%;
    }
}

